<div class="cards">
  <% @folders.each do |folder| %>
    <%= link_to folder_path(folder), :action => 'go' do %>
      <div class="card">
        <% if folder.photo.attached? %>
          <%= cl_image_tag folder.photo.key, alt: "coverimg" %>
        <% else %>
          <%= cl_image_tag "crk75x1ehaaea4ienrod", alt: "alttext"  %>
        <% end %>
        <div class="goto-view">
            View
        </div>
        <div class = "goto-name">
            <%= folder.name %>
        </div>
        <!-- <img class="fav-heart" src="/assets/images/heart.png" alt="okkkkk"> -->
        <div class="fav-heart">

          <%= image_tag "heart.png", :class => 'heart-pic'%>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<script type="text/javascript">
const favourite = document.querySelector('.heart-pic')
document.querySelector('.heart-pic').addEventListener("click", () => {

})

</script>

