<div class="cards">
  <% @folders.each do |folder| %>
    <%= link_to folder_path(folder), :action => 'go' do %>
      <div class="card">
        <% if folder.photo.attached? %>
          <%= cl_image_tag folder.photo.key, alt: "coverimg" %>
        <% else %>
          <%= cl_image_tag "crk75x1ehaaea4ienrod", alt: "alttext"  %>
        <% end %>
        <div class="goto-view">
            View
        </div>
        <div class = "goto-name">
            <%= folder.name %>
        </div>
        <!-- <img class="fav-heart" src="/assets/images/heart.png" alt="okkkkk"> -->
        <div class="fav-heart">
          <%#= link_to like_folder_path(folder) do %>
            <%= image_tag "unlike.png", :class => 'heart-pic'%>
          <%# end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<!--  create a new route that goes to folder controller to like or unlike a folder
  create the action in the controller to like or unlike a folder
  add link tag to
 -->


