<div class="show-header">
  <div class="show-title">
    <h1><%= @folder.name %></h1>
  </div>
</div>

  <div class="show-page-content">
    <div class="col-8">
      <div class="show-content">
        <div id="show-tabs-folder">
          <% @folder.tabs.each do |tab|  %>
              <div class="show-tab-card">
                  <div class="show-tab-content">
                      <div class="show-tab-title">
                          <% if tab.icon %>
                            <img src="<%= tab.icon %>" class="tab-icon">
                          <% else %>
                            <img src="https://res.cloudinary.com/xiway/image/upload/v1619698013/T_logo_g2dfsq.png" alt="default-icon" class="tab-icon">
                          <% end %>
                        <h3> <%= tab.title %> </h3>
                      </div>
                        <div class="show-tab-actions">
                          <div id="tab-edit" data-id="<%= tab.id %>">
                              <i class="fas fa-pen"></i>
                          </div>
                        <div class="tab-update">
                          <div id="tab_update_<%= tab.id %>" class="hidden">
                            <div class="tab-update-title">
                              <button id="close-edit-tab-show" data-id="<%= tab.id %>">
                                <i class="fas fa-times"></i>
                              </button>
                             <%= simple_form_for(tab) do |f| %>
                             <div class="edit-tab-title">
                              <%= f.input :title %>
                            </div>
                            <div class="save-edit">
                              <%= f.button :submit, 'Save' %>
                            </div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                          <div class="tab-delete">
                            <%= link_to tab_path(tab), method: :delete, data: {confirm: "Are you sure to delete this tab?"} do %>
                              <i class="far fa-trash-alt"></i>
                            <% end  %>
                          </div>
                        </div>
                          <% link = tab.url %>
                        <%= link_to link, target: "_blank"  do %>
                      <div class="show-tab-url">
                        <%= tab.url.truncate(80, seperator: '', omission: '...') %>
                      </div>
                    </div>
              </div>
            <% end %>
          <% end %>
        </div>
    </div>
  </div>

    <div class="col-4">
      <div class="show-card" style="background-image: linear-gradient(to bottom, rgba(255,255,255,0.12) 0, rgba(0,0,0,0.55) 74.4%), url(<%= @folder.photo.attached? ? cl_image_path(@folder.photo.key) : "https://source.unsplash.com/1600x900/?nature" %>)">
        <div id="show-share-form" class="folder-btn">
              Share
        </div>
          <div id="new-share-form" class="hidden">
            <button id="close-share-form">
              <i class="fas fa-times"></i>
            </button>
              <h3>Who to share with?</h3>
                <%= simple_form_for([@folder, @share]) do |f| %>
                  <select name="share[user_id]" id="" data_behavior="choicesjs" class="share-select">
                    <%= @users.each do |user| %>
                     <option value="<%= user.id %>"><%= user.email %></option>
                  <% end %>
                  </select>
                <div class="share-btn">
                  <%= f.submit "Share" %>
                </div>
              <% end %>
          </div>
            <div id="edit-folder" class="folder-btn">
              Edit
            </div>

            <div id="show-edit-folder" class="hidden">
              <button id="close-edit-folder">
                   <i class="fas fa-times"></i>
              </button>
                <h3>Edit folder</h3>
                <div class="edit-form">
                  <%= simple_form_for(@folder) do |f| %>
                    <div class="edit-name">
                      <%= f.input :name %>
                    </div>
                    <div class="edit-cover">
                      <%= f.input :photo, as: :file %>
                    </div>
                    <div class="edit-btn">
                      <%= f.submit %>
                    </div>
                  <% end %>
                </div>
            </div>
          <%= link_to folder_path(@folder), method: :delete, data: {confirm: "Are you sure to delete the folder and all of its contents?"} do %>
            <div class="folder-btn">
              Delete
            </div>
          <% end %>
      </div>
    </div>

