<%= render 'layouts/navbar_showpage' %>
<div class="show-page">

  <div class="show-page">
    <div class="container-folder">
      <div class="show-header">
        <div class="show-title">
          <h1><%= @folder.name %></h1>
        </div>
      </div>
      <a class="share" href="#">
        <i class="fas fa-share"></i>
      </a>
    </div>

    <hr class="show-line">

    <div class="container-tabs" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
      <% @folder.tabs.each do |tab|  %>
        <%= link_to URI::HTTP.build({:host => tab.url }).to_s, target: "_blank", class: "tab"  do %>
          <%= cl_image_tag "rzsdio5itrq0re59qkgb", alt: "icon", :class => "icon" %>
          <%= tab.icon %>
          <%= tab.title %> -
          <%= tab.url %>
          <div class="preview"></div>
        <% end  %>
      <% end  %>

      <button class="btn-primary" id="show-share-form">Share</button>
      <%#= link_to "Share with your friends", new_folder_share_path(@folder) %>

      <div id="new-share-form" class="hidden">
          <button id="close-share-form" class="btn-primary btn-sm">close</button>
          <h3>Who to share with?</h3>
        <%= simple_form_for([@folder, @share]) do |f| %>
          <%= f.input :user_id, as: :integer, placeholder: 'For test purpose' %>
          <%= f.submit "Add folder", class: "btn btn-primary" %>
        <% end %>
      </div>



    </div>
  </div>
</div>

