<%= render 'layouts/navbar' %>
<div class="show-page">

  <div class="show-page">
    <div class="container-folder">
      <div class="show-header">
        <div class="show-title">
          <h1><%= @folder.name %></h1>
          <%= link_to "Delete", folder_path(@folder), class:"btn btn-warning", method: :delete, data: {confirm: "Are you sure to delete the folder and all of its contents?"}  %>
          <%= link_to "Edit", edit_folder_path(@folder), class:"btn btn-warning" %>
        </div>
      </div>
      <a class="share" href="#">
        <i class="fas fa-share"></i>
      </a>
    </div>

    <hr class="show-line">

    <div class="container-tabs" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
      <% @folder.tabs.each do |tab|  %>
        <% link = tab.url.include?("http") ? tab.url : URI::HTTP.build({:host => tab.url }).to_s %>
        <%= link_to link, target: "_blank", class: "tab"  do %>
          <%= cl_image_tag "rzsdio5itrq0re59qkgb", alt: "icon", :class => "icon" %>
          <%= tab.icon %>
          <%= tab.title %> -
          <%= tab.url %>
          <%= link_to "Delete", tab_path(tab), class:"btn btn-warning", method: :delete, data: {confirm: "Are you sure to delete this tab?"}  %>
          <%= link_to "Edit title", edit_tab_path(tab.id), class:"btn btn-warning" %>
          <div class="preview"></div>
        <% end  %>
      <% end  %>

      <button class="btn-primary" id="show-share-form">Share</button>
      <div id="new-share-form" class="hidden">
        <button id="close-share-form" class="btn-primary btn-sm">close</button>
        <h3>Who to share with?</h3>
        <%= simple_form_for([@folder, @share]) do |f| %>
          <select name="share[user_id]" id="" data_behavior="choicesjs">
            <%= @users.each do |user| %>
             <option value="<%= user.id %>"><%= user.email %></option>
            <% end %>
          </select>
          <%= f.submit "Add folder", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

