<%= render 'layouts/navbar_showpage' %>
<div class="show-page">


<div class="show-page">
  <div class="container-folder">
      <div class="show-header">
        <div class="show-title">
          <h1><%= @folder.name %></h1>
        </div>
      </div>
        <a class="share" href="#">
          <i class="fas fa-share"></i>
        </a>
       <!--  <a class="undo" href=""> -->
       <!--  # <%= link_to 'Back', folders_path, class: "undo" %> -->
          <!-- <i class="fas fa-undo-alt"></i> -->
        <!-- </a> -->
  </div>

  <hr class="show-line">

  <div class="container-tabs">
    <% @folder.tabs.each do |tab|  %>
    <div class="tab">
      <%= cl_image_tag "rzsdio5itrq0re59qkgb", alt: "icon", :class => "icon" %>
      <%= tab.icon %>
      <%= tab.title %> -
      <%= tab.url %>
    </div>
    <% end  %>
  </div>
  <a class="undo" href="">
      <%= link_to 'Back', folders_path %>
          <!-- <i class="fas fa-undo-alt"></i> -->
  </a>
</div>
