<!-- THIS IS YOUR SEARCH DIV CONTAINER -->
<div id="search-container" style="width: 100%; height: 100vh; background: black; z-index: 999; position: fixed; top: 0; left: 0; display: none;">
  <button class="home-but">Home</button>
  <!-- ALL SEARCHES HAPPENING HERE -->

  <!-- SEARCH BAR FORM -->
   <div class="wrapper ">
    <div class="search-input d-flex w-100 justify-content-center">
      <!-- <form id="search-tabs" action="/folders" class="form-pink" method="get"> -->
      <form id="search-tabs" action="/folders" class="d-flex w-50 justify-content-center" method="get">
        <div style="position: relative; width: 100%;">
          <input class="py-6" style="
            padding-left: 45px; padding-right: 10px;
            padding-top: 20px; padding-bottom: 20px;
            width: 100%; border-radius: 40px;"
            id="search" type="text"
            placeholder="Type to search"
            autocomplete="chrome-off">

          <i class="fa fa-search" style="font-size: 30px; position: absolute; left: 12px; top: 18px; z-index: 99;" id="icon"></i>
        </div>

        <div class="autocom-box">
          <ul id="results">

          </ul>
        </div>

      </form>
    </div>
  </div>


  <!-- CONTAINER THAT HOLDS THE SEARCH RESULTS HERE -->




</div>

<div class="body">
  <nav style="z-index: 999;">
      <div class="logo">
          <h4>TA.B</h4>
      </div>
      <ul class="nav-links">
          <li><a href="#">Favourite</a></li> |
          <li><a id="search-nav" href="#">Search</a></li> |
          <li><a href="#"><%= image_tag "add.png", class:"addButton"%></a></li>
      </ul>
      <div class="burger">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
      </div>
  </nav>
</div>


<script src="#">
  const navSlide = () => {
    const burger = document.querySelector('.burger');
    const nav = document.querySelector('.nav-links');
    const navLinks = document.querySelectorAll('.nav-links li');

    burger.addEventListener('click', () => {
        //Toggle Lav
        nav.classList.toggle('nav-active');
        //Animate Links
        navLinks.forEach((link, index) => {
            if (link.style.animation) {
            link.style.animation = '';
            } else {
                link.style.animation = `navLinkFade 0.5s ease forwards ${index / 7 + 0.3}s`;
            }
        })
        //Burger Animation
        burger.classList.toggle('toggle');
    })
}

  navSlide();
</script>





<div class="position-absolute vh-100" style="z-index:100;right: 0; top:0; margin-right: 20px; width: fit-content; background: white">


  <div id="btn-tabs">
    <div id="folder-ridge">Save Your Tabs</div>
  </div>


  <div id="box-tabs" style="margin-top: 100px;">
    <div class="box-tab-header">Clean Tabs</div>
    <div id="items">
      <% @unsaved_tabs.each do |tab| %>
        <div class="item">
          <div class="unsaved_tabs unsaved-title">
            <% if tab.icon  %>
              <div class="icon" style="background: url(<%= tab.icon %>);"></div>
            <% else  %>
              <div class="icon"><i class="fas fa-dice-d6"></i></div>
            <% end  %>
            <div class="title" ><%= link_to tab.title.truncate(25, separator: '', omission: '...'), tab.url, target: '_blank' %></div>
          </div>
          <div class="unsaved_tabs unsaved-link">
            <div class="link"><%= link_to tab.url.truncate(50, separator: '', omission: '...'), tab.url, target: '_blank' %></div>
            <div class="options">
              <%= link_to tab_path(tab), method: :delete do %>
                <i class="far fa-trash-alt"></i>
              <% end %>
            </div>
            <div id="add_to_folder" data-id="<%= tab.id %>" class="options"><i class="fas fa-folder-plus"></i></div>
            <!-- <div id="test-button" class="options"><i class="fas fa-folder-plus"></i></div> -->
          </div>
          <div id="add_folder_form_<%= tab.id %>" class="unsaved_tabs form hidden2">
            <%= form_with(model: tab) do |f| %>
              <%= f.collection_select :folder_id, policy_scope(Folder), :id, :name, { prompt: "Select..."}, { 'data-behavior' => 'choicesjs' } %>
              <%= f.submit 'Add to folder' %>
            <% end %>
          </div>
        </div>
      <% end  %>
    </div>
    <div class="box-tab-header">Relax Minds</div>
  </div>

</div>

<script>
  function select(element) {
    console.log("element", {element})
    const searchWrapper = document.querySelector(".search-input");
    const inputBox = document.getElementById("search");
    const suggBox = document.querySelector(".autocom-box");
    const icon = document.querySelector(".fa");

    let linkTag = document.querySelector("a");
    let webLink;


    let selectData = element.textContent;

    searchWrapper.classList.remove("active");
    }
</script>







