<div class="position-absolute vh-100" style="z-index: 5; left: 0; top:0; margin-right: 100px; width: fit-content; background: white; opacity: 0.8">

  <div class="back-home">
      <%= link_to root_path, class: "home-tab" do %>
        <%= image_tag "https://res.cloudinary.com/xiway/image/upload/v1618534994/home_xkrb5x.png", class: "home-icon", alt: "alttext" %>
      <% end %>
  </div>

  <form action="/folders" class="form-pink" method="get">
    <input type="search_query" placeholder="Type to search">
    <i class="fa fa-search"></i>
  </form>

  <div id="btn-tabs">
    <div id="top"></div>
    <div id="middle"></div>
    <div id="bottom"></div>
  </div>

  <div id="box-tabs">
    <div id="items-show">
      <% @folder.tabs.each do |tab| %>
        <div class="show-tab">
          <%= tab.icon %>
          <%= tab.title %> -
          <%= tab.url %>
        </div>
      <% end  %>
    </div>
  </div>

</div>
