<!DOCTYPE html>
<html>
  <head>
    <title>TaBoard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'hello_erb', 'data-turbolinks-track': 'reload', defer: true %>
    <%= javascript_pack_tag 'hello_vue', 'data-turbolinks-track': 'reload', defer: true %>
   <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  </head>

  <body>
   <!--  <div class="d-flex vh-100 position-relative"> -->

      <%= render 'layouts/navbar' %>
      <div data-behavior="vue">
        <sidebar>
        <%#= render 'layouts/sidebar' %>

       </div>
       <%= yield %>
      <%#= render 'shared/footer' %>
      <%#= render 'shared/footer' %>
  </body>
</html>
